@media only screen and (max-width: 1029px) {
	#header-image {
		width: var(--value-384) !important;
	}

	#header-button-container > * {
		flex: 0 100%;
		margin: var(--value-4) 0 !important;
	}

	#process-content > div {
		flex: 0 24% !important;
	}
}

@media only screen and (max-width: 768px) {

	header {
		padding: var(--value-32) var(--value-16) !important;
		padding-bottom: var(--value-96) !important;
	}

	section {
		box-sizing: border-box !important;
		padding: var(--value-96) var(--value-16) !important;
	}

	h1 {
		font-size: var(--value-32);
	}

	button {
		padding: var(--value-8) 0 !important;
		display: block !important;
	}

	#header-logo {
		display: block;
		margin: 0 auto !important;
		margin-bottom: var(--value-48) !important;
	}

	#header-button-container {
		display: flex;
		flex-direction: column;
	}

	#header-button-container > * {
		flex: 0 100%;
		margin: var(--value-4) 0 !important;
	}

	#header-image {
		display: block !important;
		margin: 0 auto !important;
		margin-top: var(--value-64) !important;
		width: 100% !important;
	}

	#header-content {
		flex-direction: column !important;
	}

	#hero-content {
		padding: 0 !important;
	}

	#bank-section {
		padding: var(--value-64) var(--value-16) !important;
	}

	.bank-wrapper {
		flex: 0 28.4% !important;
		padding: var(--value-16) var(--value-4);
	}

	.bank-wrapper > p {
		font-size: var(--value-4);
		display: none;
	}

	.bank-wrapper > u {
		font-size: var(--value-12);
	}

	/*.bank-item {
		height: var(--value-64);
	}*/

	#process-content {
		flex-direction: column !important;
	}

	#process-content > div {
		margin: var(--value-32) 0 !important;
	}

	#process-content .featured-image {
		width: var(--value-96) !important;
	}

	.tight-width {
		width: 100% !important;
	}

	#np-graphic {
		width: 100% !important;
	}
}